<template>
<div class="app">
    <section class="header">
        <div class="row" style="padding-bottom: 12em;" >
            <div class="col-md-12 header-img">
                <img src="../assets/img/preferences.svg" alt="">
            </div>
            <div class="col-md-12 header-text">
                <h1>Ne choisissez que le meilleur en santé avec mediCompare</h1>
                <h3>mediCompare est un site vous permettant de comparer des dispositifs médicaux en tout genre...</h3>
                <a v-on:click="goToProduct" href="#">C'est parti</a>
            </div>
        </div>
    </section>
    <section class="promotion">
        <div class="row promotion-container">
            <div class="col-md-4 promotion-container-text">
                <img src="../assets/img/first.png" alt="">
                <h2>Le premier dans ce domaine</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur voluptas earum suscipit, cumque omnis architecto sunt necessitatibus doloremque dolore maxime esse voluptate quisquam fuga error sequi quibusdam accusantium ratione repellat!</p>
            </div>
            <div class="col-md-4 promotion-container-text">
                <img src="../assets/img/first.png" alt="">
                <h2>Le premier dans ce domaine</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur voluptas earum suscipit, cumque omnis architecto sunt necessitatibus doloremque dolore maxime esse voluptate quisquam fuga error sequi quibusdam accusantium ratione repellat!</p>
            </div>
            <div class="col-md-4 promotion-container-text">
                <img src="../assets/img/first.png" alt="">
                <h2>Le premier dans ce domaine</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur voluptas earum suscipit, cumque omnis architecto sunt necessitatibus doloremque dolore maxime esse voluptate quisquam fuga error sequi quibusdam accusantium ratione repellat!</p>
            </div>
        </div>
    </section>
    <section class="lastProducts">
        <!--<h2>Derniers produits disponibles</h2>
        <hr>-->
    </section>
</div>
</template>

<script>
import header1 from './header1'

export default {

    components: {
        header1
    },

    data(){
        return{

        }
    },

    methods:{
        goToProduct(){
            this.$emit('interface',true)
        }
    }
}
</script>

<style lang="css">
.header{
    background-color:  #313a5a;
}
.header-text{
    color: white;
    text-align: center;
    margin-top: 2em;
    padding: 0 3em;
}
.header-text h1{
    font-weight: 600;
    margin-bottom: 0.75em;
}
.header-text h3{
    font-size: 1em;
    margin-bottom: 2.5em;
}
.header-text a{
    padding: 14px;
    border-bottom-right-radius: 8px;
    background-color: #1fdb84;
    border-top-left-radius: 8px;
    box-shadow: 0px 0px 30px 0px #1fdb84;
}
.header-text a:hover{
    color: white;
    box-shadow: 0px 0px 20px 0px #1fdb84;
}
.header-img{
    margin-top: 3em;
    text-align: center;
}
.header-img img{
    width: 25em;
}
.promotion{
    height: 28em;
    margin-top: -7.5em;
}
.promotion-container{
    background-color: white;
    width: 95%;
    max-width: 1550px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 0px 30px 0px #9a9a9a;
    text-align: left;
    padding: 2.5em 0;
    
}
.lastProducts{
    height: 1000px;
    margin-top: 7em;
}
.promotion-container-text{
    padding: 0 2em;
    text-align: center;
}
.promotion-container-text img{
    width: 7em;
    margin-bottom: 1em;
}
.promotion-container-text h2{
    font-size: 1.25em;
    font-weight: 600; 
}
.promotion-container-text p{
    font-size: 15px;
}
.promotion-container-text hr{
    background-color: #1fdb84;
    height: 2px;
    width: 20%;
}
.lastProducts h2{
    font-weight: 600;
    text-align: center;
}
.lastProducts hr{
    height: 2px;
    background-color: #1fdb84;
    width: 7%;
}
</style>
