<template>
    <div class="app">

	<section class="cd-products-comparison-table">
		<header>
			<h2 class="subtitle">comparatif</h2>
			<div class="actions">
				<a v-on:click="resetProducts" href="#0" class="reset">Reset</a>
				<a v-on:click="filterProducts" href="#0" class="filter">Filter</a>
			</div>
		</header>

		<div v-show="idProducts.length==0" class="alert alert-primary animated fadeInUp" role="alert">
			Pas de produits ajoutés au comparateur
		</div>

		<div class="cd-products-table">
			<div class="features">
				<div class="top-info">Models</div>
				<ul class="cd-features-list">
					<li>Fiche produit</li>
					<li>Customer Rating</li>
					<li>Resolution</li>
					<li>Screen Type</li>
					<li>Display Size</li>
					<li>Refresh Rate</li>
					<li>Model Year</li>
					<li>Tuner Technology</li>
					<li>Ethernet Input</li>
					<li>USB Input</li>
					<li>Scart Input</li>
				</ul>
			</div> <!-- .features -->
			
			<div class="cd-products-wrapper">
				<ul class="cd-products-columns">
					<li :id="'product'+id" v-on:click="select(id)" v-for="id in productsToCompare" :key="id" class="product">
						<div class="top-info">
							<div v-on:click.prevent.stop="suppression(id)" class="supp"></div>
							<div class="check"></div>
							<div class="img-product"><img src="../assets/img/montre.png" alt="product image"></div>
							<h3>{{ id }}</h3>
						</div> <!-- .top-info -->

						<ul class="cd-features-list products-list">
							<li><button v-on:click.prevent.stop="showProduct(id)" class="btn btn-raised btn-info">Voir</button></li>
							<li class="rate"><span>5/5</span></li>
							<li>1080p</li>
							<li>LED</li>
							<li>47.6 inches</li>
							<li>800Hz</li>
							<li>2015</li>
							<li>mpeg4</li>
							<li>1 Side</li>
							<li>3 Port</li>
							<li>1 Rear</li>
						</ul>
					</li> <!-- .product -->
				</ul> <!-- .cd-products-columns -->
			</div> <!-- .cd-products-wrapper -->
			<ul class="cd-table-navigation">
				<li><a v-on:click="scrollLeft" href="#0" class="prev">Prev</a></li>
				<li><a v-on:click="scrollRight" href="#0" class="next">Next</a></li>
			</ul>
		</div> <!-- .cd-products-table -->
	</section> <!-- .cd-products-comparison-table -->
    </div>
</template>

<script>
import '../assets/JS/bootstrap-notify.js'

export default {
	props:["idProducts"],

	data(){
		return{
			selectedProducts: [],
			productsToCompare: this.idProducts
		}
	},
	watch:{
		idProducts: function(){
			this.resetProducts()
			/*var number = $('.product').length
			var widProd = $('.product').width()
			$('.cd-products-wrapper').width((widProd*number)+530)*/
		}
	},
	methods:{
		select(id){
			$("#product"+id).toggleClass('selected')
			var add=true;
			for (let i = 0; i < this.selectedProducts.length; i++) {
				if(id==this.selectedProducts[i]){
					add=false;
					this.selectedProducts.splice(i,1)
				}
			}
			if(add==true){
				this.selectedProducts.push(id)
			}
		},
		filterProducts(){
			if(this.selectedProducts.length>1){
				this.productsToCompare = this.selectedProducts
				this.selectedProducts = []
				$(".product").each(function () {
					$(this).removeClass("selected")
				})
			}else{
				$.notify({
					message: 'Vous devez sélectionner au moins 2 produits'

				},{
					type: 'danger',
					delay: 200,
					timer: 2000,
					placement: {
						from: "bottom",
						align: "right"
					},
					animate: {
						enter: 'animated fadeInRight',
						exit: 'animated fadeOutRight'
					},
				});
			}
		},
		resetProducts(){
			this.productsToCompare = this.idProducts
		},
		suppression(id){
			this.$emit('interface',id)
		},
		showProduct(id){
			this.$emit('show',id)
		},
		scrollRight(){
			var pos = $('.cd-products-wrapper').scrollLeft()
			var widProd = $('.product').width()
			$('.cd-products-wrapper').scrollLeft(pos+(widProd/2))
		},
		scrollLeft(){
			var pos = $('.cd-products-wrapper').scrollLeft()
			var widProd = $('.product').width()
			$('.cd-products-wrapper').scrollLeft(pos-(widProd/2))
		}
	}
}
</script>

<style lang="css" scoped>
@import '../assets/CSS/reset.css';
@import '../assets/CSS/styleCompare.css';

header{
	position: relative;
	margin-top: 2em;
}
.cd-products-comparison-table{
	max-width: 1700px;
	margin: 0 auto;
}
.features{
	border-width: 1px;
}
.subtitle{
	text-transform: uppercase;
    font-size: 1.5em !important;
	font-weight: 400 !important;
	padding: 0.25em 1em;
}
header::before{
	content: '';
	position: absolute;
	height: 100%;
	width: 0.25em;
	background-color: #1fdb84;
}
.alert{
	padding: .75rem 1.25rem !important;
}
.supp{
	position: absolute;
    background: url(../assets/img/supp.png) no-repeat center center;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 15px;
}
.products-list li:first-child{
	padding: .95em 2em;
}
.img-product{
	width: 100%;
    position: relative;
    height: 145px;
}
</style>

