<template>
    <div class="row proposition-form">
        <div>
            <h2>Propositon d'un produit</h2>
            <p>Veuillez remplir les champs obligatoires <span class="required-icon"></span></p>
        </div>
        <form class="row cd-form floating-labels">
            <fieldset class="col-md-6">
                <legend>Account Info</legend>

                <div class="error-message">
                    <p>Please enter a valid email address</p>
                </div>

                <div class="icon user-icon">
                    <label class="cd-label" for="cd-name">Name</label>
                    <input class="user" type="text" name="cd-name" id="cd-name" required>
                </div> 

                <div class="icon company-icon">
                    <label class="cd-label" for="cd-company">Company</label>
                    <input class="company" type="text" name="cd-company" id="cd-company">
                </div> 

                <div class="icon email-icon">
                    <label class="cd-label" for="cd-email">Email</label>
                    <input class="email error" type="email" name="cd-email" id="cd-email" required>
                </div>
                                    <div>
                    <h4>Budget</h4>

                    <p class="cd-select icon">
                        <select required class="budget">
                            <option value="0">Select Budget</option>
                            <option value="1">&lt; $5000</option>
                            <option value="2">$5000 - $10000</option>
                            <option value="3">&gt; $10000</option>
                        </select>
                    </p>
                </div> 

                <div>
                    <h4>Project type</h4>

                    <ul class="cd-form-list">
                        <li>
                            <input type="radio" name="radio-button" id="cd-radio-1f" checked>
                            <label for="cd-radio-1f">Choice 1</label>
                        </li>
                            
                        <li>
                            <input type="radio" name="radio-button" id="cd-radio-2f">
                            <label for="cd-radio-2f">Choice 2</label>
                        </li>

                        <li>
                            <input type="radio" name="radio-button" id="cd-radio-3f">
                            <label for="cd-radio-3f">Choice 3</label>
                        </li>
                    </ul>
                </div>

                <div>
                    <h4>Project type</h4>
                    <div class="range-slider">
                        <input id="range" class="range-slider__range" type="range" value="100" min="0" max="500">
                        <span id="valRange" class="range-slider__value">0</span>
                    </div>
                </div>
            </fieldset>

            <fieldset class="col-md-6">
                <legend>Project Info</legend>

                <div>
                    <h4>Budget</h4>

                    <p class="cd-select icon">
                        <select required class="budget">
                            <option value="0">Select Budget</option>
                            <option value="1">&lt; $5000</option>
                            <option value="2">$5000 - $10000</option>
                            <option value="3">&gt; $10000</option>
                        </select>
                    </p>
                </div> 

                <div>
                    <h4>Project type</h4>

                    <ul class="cd-form-list">
                        <li>
                            <input type="radio" name="radio-buttona" id="cd-radio-1" checked>
                            <label for="cd-radio-1">Choice 1</label>
                        </li>
                            
                        <li>
                            <input type="radio" name="radio-buttona" id="cd-radio-2">
                            <label for="cd-radio-2">Choice 2</label>
                        </li>

                        <li>
                            <input type="radio" name="radio-buttona" id="cd-radio-3">
                            <label for="cd-radio-3">Choice 3</label>
                        </li>
                    </ul>
                </div>

                <div>
                    <h4>Features</h4>

                    <ul class="cd-form-list">
                        <li>
                            <input type="checkbox" id="cd-checkbox-1">
                            <label for="cd-checkbox-1">Option 1</label>
                        </li>

                        <li>
                            <input type="checkbox" id="cd-checkbox-2">
                            <label for="cd-checkbox-2">Option 2</label>
                        </li>

                        <li>
                            <input type="checkbox" id="cd-checkbox-3">
                            <label for="cd-checkbox-3">Option 3</label>
                        </li>
                    </ul>
                </div>

                <div class="icon">
                    <label class="cd-label" for="cd-textarea">Project description</label>
                    <textarea class="message" name="cd-textarea" id="cd-textarea" required></textarea>
                </div>
            </fieldset>
            <div style="margin: 1em auto 0 auto">
                <input type="submit" value="Proposer">
            </div>
        </form>
    </div>
</template>

<script>
export default{
    mounted:function(){
		$("#valRange")[0].textContent=$("#range").val()
		$("#range").on('input', function(){
			$("#valRange")[0].textContent=$("#range").val()
	})}
}
</script>

<style lang="css" scoped>
@import '../assets/CSS/styleProps.css';
.range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  width: 100%;
}
.proposition-form div:first-child{
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #d0d3e0;
    width: 100%;
    margin-bottom: 1em;
}
.proposition-form{
    /*margin: 3em 2em;*/
    background-color: white;
    padding: 3em 7em;
    border-radius: 6px;
    /*box-shadow: 0 16px 50px -19px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 50px -5px rgba(0, 0, 0, .2);*/
}
.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
input[type=range]{
	border: none;
    background-color: #cfd9db !important;
}
.user-icon input{
	background: url("../assets/img/cd-icon-user.svg")  no-repeat 16px center;
}
.required-icon{
	position: absolute;
    width: 5px;
    height: 5px;
    content: "";
    background-color: #e94b35;
    border-radius: 50%;
    margin-left: 8px;
}
</style>

