<template>
    <div class="app">
        <div class="row fluid head">
            <div class="col-md-3 logo">mediCompare</div>
            <div class="col-md-6 nav">
                <!--<div class="form-group">
                    <input type="text" class="form-control text-white">
                </div>-->
                <div class="bmd-form-group bmd-collapse-inline pull-xs-right">
                    <button class="btn bmd-btn-icon" for="search" data-toggle="collapse" data-target="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
                        <i style="color:white" class="material-icons">search</i>
                    </button>  
                    <span id="collapse-search" class="collapse">
                        <input class="form-control" type="text" style="color:white" placeholder="Rechercher un produit...">
                    </span>
                </div>
                <ul>
                    <router-link tag="li" to="/accueil">
                        <a href="#">Accueil</a>
                    </router-link>
                    <router-link tag="li" to="/produits">
                        <a href="#">Produits</a>
                    </router-link>
                    <!--<li><a href="#">Accueil</a></li>
                    <li><a href="#">Produits</a></li>-->
                    <li><a href="#">Comparatif</a></li>
                </ul>
            </div>
            <div class="col-md-3 login">
                <ul>
                    <li><a href="#">Connexion</a></li>
                </ul>
            </div>
            
  
        </div>

    </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
body,html{
    font-family: 'Montserrat', sans-serif;
    color: white;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
.head{
    background-color:  #313a5a;
}
.nav li{
    display: inline-block;
    margin-left: 1.5em;
}
.nav input{
    display: inline-block;
}
.form-control{
    background-image: linear-gradient(0deg,#1fdb84 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0) !important;
}
.logo{
    font-size: 21px;
    font-weight: 600;
    margin: 0.5em auto;
    line-height: 2.5em;
    padding-top: 4px;
    color: white;
}
.nav{
    margin: 0.5em auto;
    padding: 1em;
}
.login{
    margin: 0.5em auto;
    padding: 1em;
}
.nav ul{
    line-height: 33px;
    margin: 0;
}
.nav a:hover{
    color: #1fdb84;
}
.login ul{
    line-height: 33px;
    margin: 0;
}
.login a{
    padding: 14px;
    border-bottom-right-radius: 8px;
    background-color: #1fdb84;
    border-top-left-radius: 8px;
    box-shadow: 0px 0px 30px 0px #1fdb84;
}
.login a:hover{
    color: white;
    box-shadow: 0px 0px 20px 0px #1fdb84;
}
</style>

