<template>
    <div class="app">
        <section class="head-informations">
            <div class="row head-informations-global">
                <div class="col-md-6 img-container">
                    <!--<img width="60%" src="../assets/montre.png" alt="">-->
                    <div class="head-carousel">
                        <div><img style="margin:0 auto" width="40%" src="../assets/img/montre.png" alt=""></div>
                        <div><img style="margin:0 auto" width="40%" src="../assets/img/montre.jpg" alt=""></div>
                        <div><img style="margin:0 auto" width="40%" src="../assets/img/tensio.png" alt=""></div>
                    </div>
                </div>
                <div class="col-md-6 text-container">
                    <div class="badge-list">
                        <span class="badge badge-primary">Primary</span>
                        <span class="badge badge-secondary">Secondary</span>
                        <span class="badge badge-success">Success</span>
                    </div>
                    <h3>{{ idProduct }}</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe accusantium autem iure deserunt sed perferendis odit, asperiores magni facere, nihil laboriosam veniam quibusdam tenetur! Quas inventore dolores facere porro at.</p>
                    <div class="star-group">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star_border</i>
                        <i class="material-icons">star_border</i>
                        <p style="display:inline-block">( 24 avis )</p>
                    </div>
                    <button type="button" class="btn btn-outline-primary">Caractéristiques</button>
                    <button type="button" class="btn btn-outline-warning">Acheter</button>
                </div>
            </div>
        </section>
        <section>
            <!-- primary -->
            <ul class="nav nav-tabs bg-primary">
                <li class="nav-item">
                    <a v-on:click.prevent="menuItem='caracteristiques'" class="nav-link" href="#">Caractéristiques</a>
                </li>
                <li class="nav-item">
                    <a v-on:click.prevent="menuItem='bibliographie'" class="nav-link" href="#">Bibliographie</a>
                </li>
                <li class="nav-item">
                    <a v-on:click.prevent="menuItem='comment'" class="nav-link" href="#">Commentaires</a>
                </li>
            </ul>
            <div class="details-product">
                <transition mode="out-in" name="slide-fade">
                    <div v-if="menuItem=='caracteristiques'" class="row">
                        <div class="col-md-6 col-xs-12">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                    <td style="width: 13em; white-space: nowrap;" class="table-secondary">Autonomie (H)</td>
                                    <td>10</td>
                                    </tr>
                                    <tr>
                                    <td style="width: 13em; white-space: nowrap;" class="table-secondary">Tension (V)</td>
                                    <td>2.5</td>
                                    </tr>
                                    <tr>
                                    <td style="width: 13em; white-space: nowrap;" class="table-secondary">Temps de rafraichissement (s)</td>
                                    <td>15</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <table class="table">
                                <tbody>
                                    <tr>
                                    <td style="width: 13em; white-space: nowrap;" class="table-secondary">Autonomie (H)</td>
                                    <td>10</td>
                                    </tr>
                                    <tr>
                                    <td style="width: 13em; white-space: nowrap;" class="table-secondary">Tension (V)</td>
                                    <td>2.5</td>
                                    </tr>
                                    <tr>
                                    <td style="width: 13em; white-space: nowrap;" class="table-secondary">Temps de rafraichissement (s)</td>
                                    <td>15</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div v-if="menuItem=='bibliographie'" class="row bibliographie">
                        <ul>
                            <li><a href="http://www.google.fr">http://www.google.fr</a></li>
                            <li><a href="http://www.amazon.fr">http://www.amazon.fr</a></li>
                        </ul>
                    </div>
                    <div v-if="menuItem=='comment'" class="row comment">
                        <div class="write-comment">
                            <label for="exampleFormControlTextarea1">Commentaire</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </transition>
            </div>
        </section>
    </div>
</template>

<script>
import '../assets/JS/slick.js'
export default {
    props:['idProduct'],

    data(){
        return{
            menuItem:'caracteristiques'
        }
    },

    mounted:function () {
        $('.head-carousel').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            adaptiveHeight: false,
	    });
    }
}
</script>

<style lang="css">
@import '../assets/CSS/slick-theme.css';
@import '../assets/CSS/slick.css';
.head-informations-global{
    max-width: 1700px;
    margin: 4em auto;
    margin-bottom: 5em;
    background-color: white;
    padding-bottom: 3em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding-top: 5em;
    margin-bottom: 0;
}
.img-container{
    text-align: center;
}
.text-container{
    padding: 0 3em;
}
.text-container div,p{
    margin-bottom: 2em;
}
.text-container h3{
    margin-bottom: 1em;
}
#accordion{
    max-width: 1500px;
    margin: 7em auto;
    margin-bottom: 5em;
}
.star-group{
    margin-bottom: 0 !important;
}
.nav-tabs{
    display: block;
    color: white;
    padding: 0;
    max-width: 1700px;
    background-color: #313a5af2 !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 0;
}
.nav-tabs a{
    color: white;
}
.details-product{
    display: block;
    max-width: 1700px;
    margin: 0 auto;
    padding: 1em 2em;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 25em;
}
.bibliographie{
    display: block;
    margin: 0.5em 0em;
}
.bibliographie a{
    color: black;
    display: block;
    padding-bottom: 1em;
}
.bibliographie a:hover{
    color: #1fdb84;
}
.write-comment{
    width: 75%;
    margin: 1em auto;
}
</style>


