<template>
<div class="modal-perso" id="login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CONNEXION</h5>
                <button v-on:click="closeLogin" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form v-show="connexion">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="bmd-label-floating">Email address (two help blocks)</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                        <span class="bmd-help">We'll never share your email with anyone else.</span>
                        <span class="bmd-help">And this is probably from a second plugin showing in a non-optimal way</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="bmd-label-floating">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>  
                </form>
                <form v-show="!connexion">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="bmd-label-floating">Email address (two help blocks)</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                        <span class="bmd-help">We'll never share your email with anyone else.</span>
                        <span class="bmd-help">And this is probably from a second plugin showing in a non-optimal way</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="bmd-label-floating">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>  
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="bmd-label-floating">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div> 
                </form>
            </div>
            <div class="modal-footer">
                <button v-on:click="changeLogin" type="button" class="btn btn-secondary">{{ position }}</button>
                <button type="button" class="btn btn-primary">{{position2}}</button>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import '../assets/JS/jquery-2.1.1.js';
export default {

    data() {
        return {
            position:"S'inscrire",
            position2:"Connexion",
            connexion:true
        }
    },

    methods:{
        closeLogin(){
            this.$emit('interface',false)
        },
        changeLogin(){
            this.connexion=!this.connexion
            if(this.position=='Connexion'){
                this.position="S'inscrire"
                this.position2="Connexion"
            }else{
                this.position="Connexion"
                this.position2="Inscription"
            }
            
        }
    }
}
</script>

<style lang="css">
.modal-perso{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
}
.modal-header{
    padding: 24px 35px 0 !important;
}
.modal-content{
    border-radius: 1.125rem !important;
}
.modal-body{
    width: 85%;
    margin: 1em auto 0 auto;
    padding: 0px 24px 10px !important;
}
.modal-footer{
    padding: 5px 19px 20px 24px !important;
}
</style>
