<template>
<div class="app">
<transition name="page">
<main class="cd-main-content">
		<div class="cd-tab-filter-wrapper">
			<div class="cd-tab-filter">
				<ul class="cd-filters">
					<li class="placeholder"> 
						<a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
					</li> 
					<li class="filter"><a class="selected" href="#0" data-type="all">Tout</a></li>
					<li class="filter" data-filter=".color-1"><a href="#0" data-type="color-1">Tensiomètre</a></li>
					<li class="filter" data-filter=".color-2"><a href="#0" data-type="color-2">Montre connectée</a></li>
				</ul> <!-- cd-filters -->
			</div> <!-- cd-tab-filter -->
		</div> <!-- cd-tab-filter-wrapper -->

		<section class="cd-gallery gallery">
			<div class="row gallery-container">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card gallery-item" style="width: 100%;">
						<div class="img-test"><img class="card-img-top" src="../assets/img/objet1.jpg" alt="Card image cap"></div>
						<div class="card-body">
							<span class="badge badge-primary">Primary</span>
							<span class="badge badge-secondary">Secondary</span>
							<span class="badge badge-success">Success</span>
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a v-on:click="showProducts('last5')" href="#" class="btn btn-primary">En savoir plus</a>
							<button id="last5" v-on:click="editProduct('last5')" type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm add">
								<i class="material-icons">add</i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card gallery-item" style="width: 100%;">
						<div class="img-test"><img class="card-img-top" src="../assets/img/tensio.jpg"></div>
						<div class="card-body">
							<span class="badge badge-primary">Primary</span>
							<span class="badge badge-secondary">Secondary</span>
							<span class="badge badge-success">Success</span>
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a v-on:click="showProducts('last4')" href="#" class="btn btn-primary">En savoir plus</a>
							<button id="last4" v-on:click="editProduct('last4')" type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm add">
								<i class="material-icons">add</i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card gallery-item" style="width: 100%;">
						<div class="img-test"><img class="card-img-top" src="../assets/img/tensio.png" alt="Card image cap"></div>
						<div class="card-body">
							<span class="badge badge-primary">Primary</span>
							<span class="badge badge-secondary">Secondary</span>
							<span class="badge badge-success">Success</span>
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a v-on:click="showProducts('last3')" href="#" class="btn btn-primary">En savoir plus</a>
							<button id="last3" v-on:click="editProduct('last3')" type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm add">
								<i class="material-icons">add</i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card gallery-item" style="width: 100%;">
						<div class="img-test"><img class="card-img-top" src="../assets/img/montre.jpg" alt="Card image cap"></div>
						<div class="card-body">
							<span class="badge badge-primary">Primary</span>
							<span class="badge badge-secondary">Secondary</span>
							<span class="badge badge-success">Success</span>
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a v-on:click="showProducts('last2')" href="#" class="btn btn-primary">En savoir plus</a>
							<button id="last2" v-on:click="editProduct('last2')" type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm add">
								<i class="material-icons">add</i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card gallery-item" style="width: 100%;">
						<div class="img-test"><img class="card-img-top" src="../assets/img/montre.png" alt="Card image cap"></div>
						<div class="card-body">
							<span class="badge badge-primary">Primary</span>
							<span class="badge badge-secondary">Secondary</span>
							<span class="badge badge-success">Success</span>
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a v-on:click="showProducts('last1')" href="#" class="btn btn-primary">En savoir plus</a>
							<button id="last1" v-on:click="editProduct('last1')" type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm add">
								<i class="material-icons">add</i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card gallery-item" style="width: 100%;">
						<!--<div class="img-test"></div>-->
						<div class="img-test"><img class="card-img-top" src="../assets/img/tensio2.png" alt="Card image cap"></div>
						<div class="card-body">
							<span class="badge badge-primary">Primary</span>
							<span class="badge badge-secondary">Secondary</span>
							<span class="badge badge-success">Success</span>
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a v-on:click="showProducts('last')" href="#" class="btn btn-primary">En savoir plus</a>
							<button id="last" v-on:click="editProduct('last')" type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm add">
								<i class="material-icons">add</i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card gallery-item" style="width: 100%;">
						<!--<div class="img-test"></div>-->
						<div class="img-test"><img class="card-img-top" src="../assets/img/tensio2.png" alt="Card image cap"></div>
						<div class="card-body">
							<span class="badge badge-primary">Primary</span>
							<span class="badge badge-secondary">Secondary</span>
							<span class="badge badge-success">Success</span>
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a v-on:click="showProducts('last8')" href="#" class="btn btn-primary">En savoir plus</a>
							<button id="last8" v-on:click="editProduct('last8')" type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm add">
								<i class="material-icons">add</i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card gallery-item" style="width: 100%;">
						<!--<div class="img-test"></div>-->
						<div class="img-test"><img class="card-img-top" src="../assets/img/tensio2.png" alt="Card image cap"></div>
						<div class="card-body">
							<span class="badge badge-primary">Primary</span>
							<span class="badge badge-secondary">Secondary</span>
							<span class="badge badge-success">Success</span>
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a v-on:click="showProducts('last7')" href="#" class="btn btn-primary">En savoir plus</a>
							<button id="last7" v-on:click="editProduct('last7')" type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm add">
								<i class="material-icons">add</i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card gallery-item" style="width: 100%;">
						<!--<div class="img-test"></div>-->
						<div class="img-test"><img class="card-img-top" src="../assets/img/tensio2.png" alt="Card image cap"></div>
						<div class="card-body">
							<span class="badge badge-primary">Primary</span>
							<span class="badge badge-secondary">Secondary</span>
							<span class="badge badge-success">Success</span>
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a v-on:click="showProducts('last9')" href="#" class="btn btn-primary">En savoir plus</a>
							<button id="last9" v-on:click="editProduct('last9')" type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm add">
								<i class="material-icons">add</i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="card gallery-item" style="width: 100%;">
						<!--<div class="img-test"></div>-->
						<div class="img-test"><img class="card-img-top" src="../assets/img/tensio2.png" alt="Card image cap"></div>
						<div class="card-body">
							<span class="badge badge-primary">Primary</span>
							<span class="badge badge-secondary">Secondary</span>
							<span class="badge badge-success">Success</span>
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a v-on:click="showProducts('last10')" href="#" class="btn btn-primary">En savoir plus</a>
							<button id="last10" v-on:click="editProduct('last10')" type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm add">
								<i class="material-icons">add</i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</section> <!-- cd-gallery -->
		<nav class="pagination" aria-label="...">
			<ul class="pagination justify-content-center">
				<li class="page-item">
					<a class="page-link" href="#" tabindex="-1">Previous</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item active">
					<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
				</li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>

		<div class="cd-filter">
			<form>
				<div class="cd-filter-block">
					<h4>Search</h4>
					
					<div class="cd-filter-content">
						<input type="search" placeholder="Try color-1...">
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Check boxes</h4>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
			    			<label class="checkbox-label" for="checkbox1">Option 1</label>
						</li>

						<li>
							<input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
							<label class="checkbox-label" for="checkbox2">Option 2</label>
						</li>

						<li>
							<input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
							<label class="checkbox-label" for="checkbox3">Option 3</label>
						</li>
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Select</h4>
					
					<div class="cd-filter-content">
						<div class="cd-select cd-filters">
							<select class="filter" name="selectThis" id="selectThis">
								<option value="">Choose an option</option>
								<option value=".option1">Option 1</option>
								<option value=".option2">Option 2</option>
								<option value=".option3">Option 3</option>
								<option value=".option4">Option 4</option>
							</select>
						</div> <!-- cd-select -->
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Radio buttons</h4>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
							<label class="radio-label" for="radio1">All</label>
						</li>

						<li>
							<input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
							<label class="radio-label" for="radio2">Choice 2</label>
						</li>

						<li>
							<input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
							<label class="radio-label" for="radio3">Choice 3</label>
						</li>
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->
			</form>

			<a href="#0" class="cd-close"><i style="margin-top: 12px;" class="material-icons">close</i></a>
		</div> <!-- cd-filter -->

		<a href="#0" class="cd-filter-trigger">Filters</a>
	</main> <!-- cd-main-content -->
	</transition>
</div>
    
</template>

<script>
import header1 from './header1'
export default {

	props:['products'],

    components: {
        header1
	},

	mounted:function(){
		jQuery(document).ready(function($){
			$('.cd-filter-trigger').on('click', function(){
				triggerFilter(true);
			});
			$('.cd-filter .cd-close').on('click', function(){
				triggerFilter(false);
			});

			function triggerFilter($bool) {
				var elementsToTrigger = $([$('.cd-filter-trigger'), $('.cd-filter'), $('.cd-tab-filter'), $('.cd-gallery')]);
				elementsToTrigger.each(function(){
					$(this).toggleClass('filter-is-visible', $bool);
				});
			}

			//mobile version - detect click event on filters tab
			var filter_tab_placeholder = $('.cd-tab-filter .placeholder a'),
				filter_tab_placeholder_default_value = 'Select',
				filter_tab_placeholder_text = filter_tab_placeholder.text();
			
			$('.cd-tab-filter li').on('click', function(event){
				//detect which tab filter item was selected
				var selected_filter = $(event.target).data('type');
					
				//check if user has clicked the placeholder item
				if( $(event.target).is(filter_tab_placeholder) ) {
					(filter_tab_placeholder_default_value == filter_tab_placeholder.text()) ? filter_tab_placeholder.text(filter_tab_placeholder_text) : filter_tab_placeholder.text(filter_tab_placeholder_default_value) ;
					$('.cd-tab-filter').toggleClass('is-open');

				//check if user has clicked a filter already selected 
				} else if( filter_tab_placeholder.data('type') == selected_filter ) {
					filter_tab_placeholder.text($(event.target).text());
					$('.cd-tab-filter').removeClass('is-open');	

				} else {
					//close the dropdown and change placeholder text/data-type value
					$('.cd-tab-filter').removeClass('is-open');
					filter_tab_placeholder.text($(event.target).text()).data('type', selected_filter);
					filter_tab_placeholder_text = $(event.target).text();
					
					//add class selected to the selected filter item
					$('.cd-tab-filter .selected').removeClass('selected');
					$(event.target).addClass('selected');
				}
			});
			$('.cd-filter-block h4').on('click', function(){
				$(this).toggleClass('closed').siblings('.cd-filter-content').slideToggle(300);
			})
		});	
	},

	watch:{
		products: function () {
			
				var elements = document.getElementsByClassName('add'); 
				for (var i = 0 ; i < elements.length ; i++) {
					elements[i].childNodes[0].innerText="add"     
					elements[i].classList.remove("btn-success")
					elements[i].classList.add("btn-primary")  
				}

				for (let y = 0; y < this.products.length; y++) {
					for (var i = 0 ; i < elements.length ; i++) {
						if(this.products[y]==elements[i].id){
							elements[i].childNodes[0].innerText="check"     
							elements[i].classList.remove("btn-primary")
							elements[i].classList.add("btn-success") 
						}
					}
				}
			}	
	},
	
	methods: {
        editProduct(id){
			this.$emit('interface',id)
		},
		
		showProducts(id){
			this.$emit('show',id)
		}
    }
}
</script>

<style lang="css">
@import '../assets/CSS/style.css';
.pagination{
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.gallery-container{
	max-width: 1500px;
    margin: 2em auto;
}
.gallery-item{
	margin-bottom: 2em;
	height: 37em;
}
.cd-tab-filter-wrapper{
	z-index: 51;
}
.cd-filter-content{
	padding: 0;
}
.card-title{
	margin-top: 0.5em;
}
.img-test{
	/*background: url("../assets/tensio2.png") center center;*/
	background-size: cover;
	height: 53%;
}
.card-body button{
	margin-left: 1em;
}
.cd-tab-filter ul{
	padding: 0;
}
.cd-tab-filter ul > li > a{
	color: black;
}
.cd-gallery img{
	width: 53%;
    margin: 3em auto;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 1s, transform 0.8s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateX(-30%);
}
</style>


