<template>
    <main class="cd-main-content-prop">
		<div class="cd-tab-filter-wrapper">
			<div class="cd-tab-filter">
				<ul class="cd-filters">
					<li class="placeholder"> 
						<a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
					</li> 
					<li class="filter"><a v-on:click="menu='form'" class="selected" href="#0" data-type="all">Propositon</a></li>
					<li class="filter" data-filter=".color-1"><a v-on:click="menu='track'" href="#0" data-type="color-1">Validation</a></li>
				</ul> <!-- cd-filters -->
			</div> <!-- cd-tab-filter -->
		</div> <!-- cd-tab-filter-wrapper -->
		<transition name="page" mode="out-in">
			<formProposition v-if="menu=='form'"></formProposition>
			<trackValidation v-if="menu=='track'"></trackValidation>
		</transition>
    </main>
</template>
<script>
import formProposition from './formProposition'
import trackValidation from './trackValidation'
export default {

    components:{
		formProposition,
		trackValidation
	},

	data(){
		return{
			menu:'form'
		}
	},

	mounted:function(){
		$("#valRange")[0].textContent=$("#range").val()
		$("#range").on('input', function(){
			$("#valRange")[0].textContent=$("#range").val()
		})
		jQuery(document).ready(function($){
			//mobile version - detect click event on filters tab
			var filter_tab_placeholder = $('.cd-tab-filter .placeholder a'),
				filter_tab_placeholder_default_value = 'Select',
				filter_tab_placeholder_text = filter_tab_placeholder.text();
			
			$('.cd-tab-filter li').on('click', function(event){
				//detect which tab filter item was selected
				var selected_filter = $(event.target).data('type');
					
				//check if user has clicked the placeholder item
				if( $(event.target).is(filter_tab_placeholder) ) {
					(filter_tab_placeholder_default_value == filter_tab_placeholder.text()) ? filter_tab_placeholder.text(filter_tab_placeholder_text) : filter_tab_placeholder.text(filter_tab_placeholder_default_value) ;
					$('.cd-tab-filter').toggleClass('is-open');

				//check if user has clicked a filter already selected 
				} else if( filter_tab_placeholder.data('type') == selected_filter ) {
					filter_tab_placeholder.text($(event.target).text());
					$('.cd-tab-filter').removeClass('is-open');	

				} else {
					//close the dropdown and change placeholder text/data-type value
					$('.cd-tab-filter').removeClass('is-open');
					filter_tab_placeholder.text($(event.target).text()).data('type', selected_filter);
					filter_tab_placeholder_text = $(event.target).text();
					
					//add class selected to the selected filter item
					$('.cd-tab-filter .selected').removeClass('selected');
					$(event.target).addClass('selected');
				}
			});
		});	
	},
 }
 </script>

 <style lang="css" scoped>
 @import '../assets/CSS/style.css';
.proposition-form img{
    width: 25em;
}
.form-row{
	margin: 1em 0;
}
.proposition-header{
	margin-bottom: 3em;
	padding-left: 1em;
	border-left: 2px solid #1fdb84;
	text-align: left !important;
}
 </style>
 
 