<template>
    <div class="app">
        <div class="valid-content">
            <h2>Recu</h2>
            <span class="valid-1"></span>
        </div>
        <div class="valid-content">
            <h2>En cours de validation</h2>
            <span class="valid-1"></span>
        </div>
        <div class="valid-content">
            <h2>Comfirmer</h2>
            <span class="valid-1"></span>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="css">
.valid-content{
    display: inline-block;
}
</style>

