<template>
  <div id="app">
    <div class="row fluid head" :class="{expand : toggle}">
        <div v-on:click="menu='accueil'" class="col-md-3 logo">mediCompare</div>
        <div class="nav-mobile" :class="{activeM : toggle}">
            <ul>
                <hr style="    background-color: white; margin:8px 0;">
                <li><a v-on:click="menu='accueil'" href="#">Accueil</a></li>
                <hr style="    background-color: white; margin:8px 0;">
                <li><a v-on:click="menu='produits'" href="#">Produits</a></li>
                <hr style="    background-color: white; margin:8px 0;">
                <li><a href="#" v-on:click="menu='comparatif'">Comparatif <span v-show="productsToCompare.length>0" id="products" class="badge badge-danger">{{ productsToCompare.length }}</span></a></li>
                <hr style="    background-color: white; margin:8px 0;">
                <li style="margin-bottom: 1.5em; margin-top: 0.5em;">    
                    <div class="bmd-form-group bmd-collapse-inline pull-xs-right">
                        <button class="btn bmd-btn-icon" for="search" data-toggle="collapse" data-target="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
                            <i style="color:white" class="material-icons">search</i>
                        </button>  
                        <input class="form-control" type="text" style="color:white" placeholder="Rechercher un produit...">
                    </div>       
                </li>
                <li><a class="login-btn" v-on:click="login=true" href="#">Connexion</a></li>
            </ul>
        </div>
        <div class="col-md-6 nav">
            <div class="bmd-form-group bmd-collapse-inline pull-xs-right">
                <button class="btn bmd-btn-icon" for="search" data-toggle="collapse" data-target="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
                    <i style="color:white" class="material-icons">search</i>
                </button>  
                <input class="form-control" type="text" style="color:white" placeholder="Rechercher un produit...">
            </div>
            <ul class="nav-normal-size">
                <li><a class="menu-btn" v-on:click="menu='accueil'" :class="{menuActive : menu=='accueil'}" href="#">Accueil</a></li>
                <li><a class="menu-btn" v-on:click="menu='produits'" :class="{menuActive : menu=='produits'}" href="#">Produits</a></li>
                <li><a class="menu-btn" v-on:click="menu='comparatif'" :class="{menuActive : menu=='comparatif'}" href="#">Comparatif <span v-show="productsToCompare.length>0" id="products" class="badge badge-danger">{{ productsToCompare.length }}</span></a></li>
                <li><a class="menu-btn" v-on:click="menu='proposition'" :class="{menuActive : menu=='proposition'}" href="#">Proposition</a></li>
            </ul>
        </div>
        <div class="col-md-3 login">
            <ul>
                <li><a v-on:click="login=true" href="#">Connexion</a></li>
            </ul>
        </div>
        <div v-on:click="toggle=!toggle" class="hamburger" :class="{activeH : toggle}">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
    <transition mode="out-in" name="page">
        <accueil @interface="goToProduct" v-if="menu=='accueil'"></accueil>
        <produits :products="productsToCompare" @show="showProduct" @interface="editProduct" v-if="menu=='produits'"></produits>
        <informations :idProduct="productToShow" v-if="menu=='informations'"></informations>
        <comparatif @show="showProduct" @interface="suppProductToCompare" :idProducts="productsToCompare" v-if="menu=='comparatif'"></comparatif>
        <proposition v-if="menu=='proposition'"></proposition>
    </transition>
    <transition mode="out-in" name="slide-fade1">
        <login @interface="closeLogin" v-show="login==true"></login>
    </transition>
    <div class="overlay" :class="{activeOv : toggle}"></div>
    <div class="overlay" :class="{activeOv : login}"></div>
  </div>
</template>

<script>
import './assets/JS/jquery-2.1.1.js';
import './assets/JS/slick.js';

import header1 from './components/header1'
import accueil from './components/accueil'
import produits from './components/produits'
import informations from './components/informations'
import login from './components/login'
import comparatif from './components/comparatif'
import proposition from './components/proposition'

export default {
    name: 'App',
    components: {
        header1,
        produits,
        accueil,
        informations,
        login,
        comparatif,
        proposition
    },

    mounted:function(){
        $('.hamburger:first-of-type').click(function(){
            $(this).toggleClass('activeH');
        })
        $('.hamburger:last-of-type').click(function(){
            $(this).toggleClass('responsive');
        })
    },

    data() {
        return {
            menu:'accueil',
            productsToCompare:[],
            productToShow: null,
            login: false,
            toggle:false
        }
    },

    methods:{
        goToProduct(event){
            console.log("ok1")
            if(event==true){
                this.menu="produits"
                console.log("ok")
            }
        },
        closeLogin(event){
            this.login=event
        },

        editProduct(event){
            var bool = false
            for (let index = 0; index < this.productsToCompare.length; index++) {
                if(this.productsToCompare[index]==event){
                    this.productsToCompare.splice(index,1)
                    count=true
                }
            }
            if(bool==false){
                this.productsToCompare.push(event);
            }
        },

        showProduct(event){
            this.menu="informations"
            this.productToShow=event
        },
        suppProductToCompare(event){
            for (let index = 0; index < this.productsToCompare.length; index++) {
                if(this.productsToCompare[index]==event){
                    this.productsToCompare.splice(index,1)
                }
            }
        }
    }
}
</script>

<style>
@import './assets/CSS/animate.min.css';
body,html{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
.head{
    background-color:  #313a5a;
}
.nav li{
    display: inline-block;
    margin-left: 1.5em;
}
.nav input{
    display: inline-block;
}
.form-control{
    background-image: linear-gradient(0deg,#1fdb84 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0) !important;
}
.logo{
    cursor: pointer;
    font-size: 21px;
    font-weight: 600;
    margin: 0.5em auto;
    line-height: 2.5em;
    padding-top: 4px;
    color: white;
    text-align: center;
}
.nav{
    display: inline-flex;
    margin: 0.5em auto;
    padding: 1em;
}
.login{
    margin: 0.5em auto;
    padding: 1em;
    display: block;
}
.nav ul{
    line-height: 33px;
    margin: 0;
}
.login ul{
    line-height: 33px;
    margin: 0;
}
.login a{
    padding: 12px;
    border-bottom-right-radius: 8px;
    background-color: #1fdb84;
    border-top-left-radius: 8px;
    box-shadow: 0px 0px 30px 0px #1fdb84;
}
.login-btn{
    padding: 12px;
    border-bottom-right-radius: 8px;
    background-color: #1fdb84;
    border-top-left-radius: 8px;
    box-shadow: 0px 0px 30px 0px #1fdb84;
}
.login a:hover{
    color: white;
    box-shadow: 0px 0px 20px 0px #1fdb84;
}
.page-enter-active,
.page-leave-active {
  transition: opacity .7s, transform 0.7s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateX(-30%);
}
.slide-fade-enter-active {
  transition: all .7s ease-in-out;
}
.slide-fade-leave-active {
  transition: all .7s ease-in-out;
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(200px);
  opacity: 0;
}
.slide-fade1-enter-active {
  transition: all .3s ease-in-out;
}
.slide-fade1-leave-active {
  transition: all .3s ease-in-out;
}
.slide-fade1-enter, .slide-fade1-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-200px);
  opacity: 0;
}
#products{
    background-color: #74A591;
    border-radius: 50%;
    font-size: 0.9em;
}
.modal-perso{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
}
.nav-mobile{
    display: none;
}
.nav-mobile a:hover{
    color: #1fdb84;
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    z-index: 1000;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #00000073;
    opacity: 0;
    transition: all .5s ease;
}
.activeOv{
    display: block;
    opacity: 1;
}
@keyframes opacite-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes opacite-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.hamburger {
    display: none;
    cursor: pointer;
    width: 80px;
    position: absolute;
    right: 0.5em;
    top: 1em;
}
@media screen and (max-width: 1170px) {
  .hamburger{
      display: block;
  }
  .nav{
      display: none;
  }
  .login{
      display: none;
  }
  .head{
    position: relative;
    width: 102%;
    background-color: #313a5a;
    z-index: 5;
    height: 5em;
    overflow: hidden;
  }
  .expand{
    height: 21em;
    animation-duration: .5s;
    animation-name: slidein;
    z-index: 1001;
  }
}
@keyframes slidein {
  from {
    height: 5em; 
  }

  to {
    height: 21em;
  }
}
@keyframes slideout {
  from {
    height: 21em; 
  }

  to {
    height: 5em;
  }
}
.activeM{
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: 2em;
    transform: translate(-50%,-50%);
}
.bar {
  display: block;
  width: 40px;
  height: 5px;
  background: #1fdb84;
  margin: 7px auto;
  transition: 0.2s ease-in;
}
.nav-normal-size li{
    position: relative;
}
.nav-normal-size li>a{
    position: relative;
    padding: 0.75em;
}
.nav-normal-size li>a:hover{
    color: white;
}
.nav-normal-size li>a:hover:before, .nav-normal-size li>a:hover:after{
    transform: translate(0%,0%);
    opacity: 1;
}
.nav-normal-size li>a::before,.nav-normal-size li>a::after{
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    opacity: 0;
    transition: all .5s ease;
}
.nav-normal-size li>a::before{
    top: 0;
    left: 0;
    border-left: 2px solid#1fdb84;
    border-top: 2px solid#1fdb84;
    transform: translate(-50%,-50%);
}
.nav-normal-size li>a::after{
    bottom: 0;
    right: 0;
    border-right: 2px solid#1fdb84;
    border-bottom: 2px solid#1fdb84;
    transform: translate(50%,50%);
}
.nav-normal-size li>a:focus:before{
    transform: translate(0%,0%);
    opacity: 0;
    /*border-bottom: 2px solid#1fdb84;*/
}
.nav-normal-size li>a:focus:after,.nav-normal-size li>a:focus:after{
    height: 0;
    width: 100%;
    transform: translate(0%,0%);
    /*border-top: 2px solid#1fdb84;*/
}
.activeH :first-child {
  transform: rotate(45deg) translate(10px, 4px);
}
.activeH :nth-child(2) {
  opacity: 0;
}
.activeH :last-child {
  transform: rotate(-45deg) translate(12px, -7px);
}

.responsive :first-child {
  transform: rotate(45deg) translate(10px, 4px);
}
.responsive :nth-child(2) {
  width: 0;
}
.responsive :last-child {
  transform: rotate(-45deg) translate(12px, -7px);
}
.menuActive{
    /*border-bottom: 2px solid #1fdb84;*/
    color: #1fdb84;
}
</style>
